<%- model_class = Video -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>This week rank</th>
      <th>Video name</th>      
      <th>Total_aggregate_view</th>
      <th>Time since upload</th>
     <!-- <th><%= model_class.human_attribute_name(:video_name) %></th>
      <th><%= model_class.human_attribute_name(:weeks_on_chart) %></th>
      <th><%= model_class.human_attribute_name(:total_aggregate_view) %></th>
      <th><%= model_class.human_attribute_name(:this_week_view) %></th>
      <th><%= model_class.human_attribute_name(:plus_minus_view) %></th>
      <th><%= model_class.human_attribute_name(:time_since_upload) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>

      <tr>
        
        <td>
          <% temp =0%>
           <% video.get_top_videos.videos.each do  |clip| %> 
               
               <tr>
                  <td><%= temp.next %></td>
                  <td><%= clip.title %></td>
                  <td><%= clip.view_count %></td>
                  <td><%= ((DateTime.now.to_date - clip.uploaded_at.to_date)/7).to_f.round(0) %> week</td>
                  
                  <% temp = temp.next%>
                  <%video.save_videos(clip, temp)%>

               </tr>
           
           <% end %>
        </td>

      </tr>
      <%break%>
    <% end %>

  </tbody>

</table>
