<%- model_class = Video -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:this_week_rank) %>:</strong></dt>
  <dd><%= @video.this_week_rank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_week_rank) %>:</strong></dt>
  <dd><%= @video.last_week_rank %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video_name) %>:</strong></dt>
  <dd><%= @video.video_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weeks_on_chart) %>:</strong></dt>
  <dd><%= @video.weeks_on_chart %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_aggregate_view) %>:</strong></dt>
  <dd><%= @video.total_aggregate_view %></dd>
  <dt><strong><%= model_class.human_attribute_name(:this_week_view) %>:</strong></dt>
  <dd><%= @video.this_week_view %></dd>
  <dt><strong><%= model_class.human_attribute_name(:plus_minus_view) %>:</strong></dt>
  <dd><%= @video.plus_minus_view %></dd>
  <dt><strong><%= model_class.human_attribute_name(:time_since_upload) %>:</strong></dt>
  <dd><%= @video.time_since_upload %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              videos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_video_path(@video), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              video_path(@video),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
